.background-example{
	height: 200px;
	width: 200px;
	border: solid 1px black;
}
#background-1{
	background-image: url('images/blue_background.jpg');
}
/*Forms */
#container{
	width: 500px;
	margin: 0 auto;
}
form{
	background-image: url('images/red_background.jpg');
	padding: 20px;
	font-family: Helvetica, Arial, Sans-serif;
}
form fieldset{
	background-image: url('images/blue_background.jpg');
	border: solid 1px white;
	padding: 40px;
}
form legend{
	border: solid 1px #333;
	background-image: url('images/blue_background.jpg');
	padding: 5px;
	font-size: 30px;
	font-weight: bold;
}
form input, form textarea{
	display: block;
	margin-bottom: 20px;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizedegibility;
}
form label{
	font-size: 11px;
	text-transform: uppercase;
}
form input[type = "text"], form input[type = "email"], form textarea{
	padding: 10px;
	font-size: 20px;
	font-family: helvetica, Sans-serif, Arial;
	color: white;
	border: solid 1px #b90709;
	background-image: url('images/red_background.jpg');
}
textarea{
	width: 300px;
	height: 100px;
}
form input[type = "submit"]{
	border: none;
	background: url('images/buttonbackground.jpg') top left repeat-x;
	height: 40px;
	padding: 0 20px;
	color: white;
	border: solid 1px #d4730c;
	font-weight: bold;
	font-family: helvetica, Sans-serif, Arial;
	cursor: pointer;
}



